{
    "owner": ["60179842767@s.whatsapp.net"],
    "openWeather": "3554ec62bbfb45fc11e5aa81fd5e59e5",
    "igCookie": "51761355987%3Awh9sJFGng2Afrw%3A24",
    "session": "session-md.json" // Your session name
}
